.header-left {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.back-button {
  display: flex;
  color: var(--color-heading);

  &:focus,
  &:hover {
    cursor: pointer;
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.1em;
    }
  }
}

.particles-icon-highlight {
  svg {
    transform: scale(2.3);
    filter: drop-shadow(0 0 0.35em var(--oc-yellow-4));
  }

  svg circle,
  svg path {
    stroke: var(--oc-yellow-4) !important;
  }

  &:focus,
  &:hover svg {
    filter: drop-shadow(0 0 0.5em var(--oc-yellow-4));
  }
}
